{% extends "base.html" %}
{% block content %}
<div class="form-card">
    <h2>Login</h2>
    <form method="POST">
        <input type="hidden" name="next" value="{{ next_url }}">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn">Login</button>
    </form>

    <p class="auth-alt-action">
        Don't have an account? <a href="{{ url_for('register') }}">Register</a>
    </p>
</div>
{% endblock %}
