{% extends "base.html" %}
{% block content %}
<div class="card form-card">
    <h2>Register</h2>
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Mobile Number</label>
        <input type="tel" name="phone_number" required>

        <label>Optional Emergency Number</label>
        <input type="tel" name="optional_phone_number" placeholder="Family or backup contact">

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="btn">Register</button>
    </form>
</div>
{% endblock %}
